body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#e0f2fe,#f8fafc);
    transition:.4s;
}
        .navbar{
            background:linear-gradient(90deg,#0f172a,#2563eb);
            box-shadow:0 6px 18px rgba(0,0,0,.15);
        }

.nav-link{
    transition:.3s;
    border-radius:10px;
    padding:8px 14px !important;
    margin-left:6px;
    font-weight:500;
}

.nav-link:hover{
    transform:translateY(-2px);
    color:#fff !important;
    background:rgba(255,255,255,.15);
}

.nav-link.active{
    background:white;
    color:#2563eb !important;
    font-weight:700;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
}

        .nav-link:hover{
            transform:translateY(-2px);
            color:#fff !important;
        }
